/* CSS variables */
:root {
    --body-background: #FAFAFA;
    --primary-purple: #00BFFF;
	--light-blue: #FFBF00;
	--yellow: #FFBF00;
    --yellow-hover:#e6e600;
    --light-gray: #C0C0C0;
	--dark-gray: #4d4d4d;
    --black: rgb(11, 11, 11);
    --font-size: 16px;
}